@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Pierre's Treat Manager</h3>

    <h4><p>@Html.ActionLink("See flavors", "Index", "Flavors")</p></h4>
</div>
