@{
  Layout = "_Layout";
}

@using Treats.Models;
@model Treats.Models.Order;

<h2>Order Details</h2>
<hr />
<h3>Order for:  </h3>
Quantity: @Html.DisplayFor(model => model.OrderSize) :

TreatId: @Html.DisplayFor(model => model.TreatId)

@* @if(ViewBag.TreadId == Model.TreatId)
{
  <p></p>
} *@


<p>@Html.ActionLink("Back to orders", "Index")</p>